* {
  box-sizing: border-box;
  padding: 1.5rem;
  font-size: 62.5%;
  background: #f4f1de;
}

:root {
  --color-primary: #1d3557;
  --color-secondary: #a8dadc;
  --color-accent: #e63946;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
}

.container {
  border: 1px solid #1d3557;
  padding-bottom: 5rem;
}

.left {
  border-radius: 20px 20px 0 0;
}

.right {
  border-radius: 0 0 20px 20px;
}

header {
  display: flex;
  align-items: center;
  padding: 0;
  margin-left: 0;
}

.h-image {
  height: 75px;
  width: 75px;
  border-radius: 100%;
  padding: 0;
  margin: 0;
}

.title {
  display: inline-block;

  padding-left: 0;
  margin-left: 0;
}

h1 {
  font-size: 5rem;
  font-weight: bold;
  font-family: "Abril Fatface", cursive;
  letter-spacing: 2px;
  margin: 0;
}

.nice-line {
  width: 35rem;
  height: 5px;
  border-radius: 2.5px;
  background: #1d3557;
  padding: 0;
  margin-bottom: 40px;
}

h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 0;
  font-family: "Abril Fatface", cursive;
  letter-spacing: 2px;
}

h1,
h3,
p {
  color: #1d3557;
}

p {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1px;
}

/* --- Color Block Divs --- */

.light-blue {
  width: 100%;
  height: 5rem;
  border-radius: 1rem;
  background: var(--color-primary);
}

.dark-blue {
  width: 100%;
  height: 5rem;
  border-radius: 1rem;
  background: var(--color-secondary);
}

.red {
  width: 100%;
  height: 5rem;
  border-radius: 1rem;
  background: var(--color-accent);
}

@media screen and (min-width: 1024px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 400px;
  }

  .left {
    border-radius: 20px 0 0 20px;
  }

  .right {
    border-radius: 0 20px 20px 0;
  }
}

/* --- Typeface Section --- */

.font-headings {
  display: inline-block;
  border-bottom: 2px solid var(--color-primary);
  margin-bottom: 20px;
}

#atomic-age {
  font-family: "AtomicAge-Regular", monospace;
}

#berlin {
  font-family: "Berlin-Bold", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#grand-hotel {
  font-family: "GrandHotel-Regular", "Trebuchet MS", "Lucida Sans Unicode",
    "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
